html{
    position: relative;
}

body{
    margin-bottom: 120px;
    margin-top: 30px;
    font-family: 'Crimson Text', serif;
}

.jumbotron {
    height: 450px;
    background-image: url(../img/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    color: #f5f7fd;
    font-family: 'Crimson Text', serif;
}

.jumbotron img{
    width: 200px;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.favicon img{
    width: 30px;
    height: 30px;
    float: cover;

}

hr{
    width:250px;
    border-top: 4px solid #999999;
}

section{
    min-height: 600px;
}

.about img{
    width: 70%;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about h3{
    text-align: justify;
    height: 50%;

}

.portfolio{
    background-color: #eee;
}

.contact{
    min-height: 800px;
}


footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150px;
    background-color: #333;
    padding-top: 15px;

}

footer p {
    color: #999999;
    font-size: 0.9em;
}

footer p i {
    color: salmon;
}

.navbar-text a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 10px;
    margin-bottom: 10px;
}


.wadah-mengetik
{
	font-size: 22px;
	width: 100%;
	white-space:nowrap;
	overflow:hidden;
	-webkit-animation: ketik 10s steps(50, end);
	animation: ketik 10s steps(50, end);
}
@keyframes ketik{
	from { width: 0; }
}
@-webkit-keyframes ketik{
	from { width: 0; }
}

h4{
    border: solid #32a1ce;
    padding: 20px;
    border-radius: 5%;
}

h5 {
    color: white;
}